<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accelerated Results Cookbook</title>

    <!--bootstrap cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.0/flatly/bootstrap.min.css" integrity="sha512-SAOc0O+NBGM2HuPF20h4nse270bwZJi8X90t5k/ApuB9oasBYEyLJ7WtYcWZARWiSlKJpZch1+ip2mmhvlIvzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!--font awesome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--style sheet link-->
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap" rel="stylesheet">
    
  </head>

  <body class="master-background d-flex flex-column min-vh-100">
    
      <div class="banner">
        <img src="/images/banner/banner.jpg" alt="banner" class="img-fluid" />
      </div>
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top py-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="/profile">Accelerated Results Fitness Cookbook</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile">Your Recipes
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/profile" role="button" aria-haspopup="true" aria-expanded="false">Favorite Recipes</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/favorite-recipes/favorite-breakfasts">Favorite Breakfast Recipes</a>
                  <a class="dropdown-item" href="/favorite-recipes/favorite-entrees">Favorite Entrée Recipes</a>
                  <a class="dropdown-item" href="/favorite-recipes/favorite-desserts">Favorite Dessert Recipes</a>
                  <a class="dropdown-item" href="/favorite-recipes/favorite-sides">Favorite Side Recipes</a>
                  <a class="dropdown-item" href="/favorite-recipes/favorite-snacks">Favorite Snack Recipes</a>
                  <a class="dropdown-item" href="/favorite-recipes/favorite-drinks">Favorite Drink Recipes</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/profile" role="button" aria-haspopup="true" aria-expanded="false">All Recipes</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/feed-recipes/all-breakfasts-social">Breakfast Recipes</a>
                  <a class="dropdown-item" href="/feed-recipes/all-entrees-social">Entrée Recipes</a>
                  <a class="dropdown-item" href="/feed-recipes/all-desserts-social">Dessert Recipes</a>
                  <a class="dropdown-item" href="/feed-recipes/all-sides-social">Side Recipes</a>
                  <a class="dropdown-item" href="/feed-recipes/all-snacks-social">Snack Recipes</a>
                  <a class="dropdown-item" href="/feed-recipes/all-drinks-social">Drink Recipes</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recipes/addRecipePage">Add Recipe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/groceries">Grocery List</a>              
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
  



