<%- include('partials/index-login-signup-header') -%>

<main class="container">
    
    <div>
        <p class="text-center mt-5 text-light h5">This application will you allow to become part of the Accelerated Results Fitness Community. Nutrition is a key component to your fitness journey, but it doesn't have to be done alone. Within the applicaton you will be able to add recipes, edit, update, and delete them. You'll also be able to view other recipes added by other members of the community, comment on them, and view profiles to see if a member of the community has added any other recipes you may enjoy! There is also a grocery list feature, where you can add ingredients to the list, or any other item you may need.</p>

        <p class="text-center text-light h5">Just want to use the application to store your recipes, healthy or not? That's okay too! When you add a recipe you can include a "healthy" field. As nutrition is different for everyone, please be advised, that something labeled as healthy versus not may not be suitable for you.</p>

        <p class="text-center text-light h4 mt-5"><strong>Explore. Learn. Share.</strong></p>

    </div>

    <div class="row justify-content-center mt-5 ">
        <a href="/login" class="col-4 btn btn-primary"> Login</a> 
    </div>

    <div class="row justify-content-center mt-3">
        <a href="/signup" class="col-4 btn btn-primary"> Signup</a>
    </div>

</main>

<% -include('partials/index-login-signup-footer') -%>

