/******************************************
/* CSS
/*******************************************/

* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.index-login-signup-background {
  background-image: url("/images/login-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.completed {
  /* text strike through */
  text-decoration: line-through;
}

.every-other-background {
  background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background-size: cover;
  background-repeat: no-repeat;
}


